@font-face {
  font-family: "iconfont"; /* Project id 4916957 */
  src: url('iconfont.woff2?t=1746850287710') format('woff2'),
       url('iconfont.woff?t=1746850287710') format('woff'),
       url('iconfont.ttf?t=1746850287710') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pausecircle:before {
  content: "\e80d";
}

.icon-stopcircle:before {
  content: "\e80e";
}

.icon-playcircle:before {
  content: "\e80f";
}

.icon-indent:before {
  content: "\e834";
}

.icon-caret-right:before {
  content: "\e845";
}

.icon-caret-left:before {
  content: "\e846";
}

